div.control-bar {
    font-size: 48px;
    color: rgb(41, 46, 43);
    background: rgba(184, 181, 173, 0.4);
    border-radius: 45px;
    text-align: center;
    margin-bottom: 5px;
}

div.container {
    max-width: 100%;
    padding: 0px;
}

div#videos {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

div.video {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 144;
    position: relative;
}

div.controls {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
}

div.video_float {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

div.play_button_container{
    margin: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(184, 181, 173, 0.4);
    border-radius: 45px;
}

i.play_button {
    margin: 40px;
    color: rgb(41, 46, 43);
}

div.video img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

div.volume_container {
    margin: 0;
    position: absolute;
    right: 30px;
    bottom: 100px;
    height: 60px;
    z-index: 1000;
    font-size: 48px;
    color: rgb(41, 46, 43);
    background: rgba(184, 181, 173, 0.4);
    border-radius: 45px;
    text-align: center;
    margin-bottom: 5px;
    transform: rotate(270deg);
}

div.control-bar progress {
    width: 600px;
    -webkit-appearance: none;
    appearance: none;
    font-size: 30;
    padding-bottom: 3
}

progress#volume_progress {
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(235, 146, 52);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

    border-radius: 2px; 
}